<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Turn Touch</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.turntouch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>turntouch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>29</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The Turn Touch music app uses your library to control playback</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Turn Touch uses Bluetooth to connect to your remotes</string>
	<key>NSCameraUsageDescription</key>
	<string>The Turn Touch camera app uses the camera to take photos</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Turn Touch communicates with devices supported with Apple HomeKit</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is sparingly used to keep your remote always connected</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is sparingly used to keep your remote always connected</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is sparingly used to keep your remote always connected</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The Turn Touch camera app uses the microphone when recording video</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The Turn Touch camera app saves photos to your photo library</string>
	<key>NestProductID</key>
	<string>8ac433c5-3fdf-419b-84e9-573c486e9c52</string>
	<key>NestProductSecret</key>
	<string>NhVqDyIynlwKqGMjqo7PbUKBc</string>
	<key>NestRedirectURL</key>
	<string>http://localhost:8080/auth/nest/callback</string>
	<key>UIAppFonts</key>
	<array>
		<string>Effra_Rg.ttf</string>
		<string>effra-lightitalic.ttf</string>
		<string>Dalton Maag - Effra Light</string>
		<string>Dalton Maag - Effra Std Bold</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
