<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>TT:firmware:version</key>
	<string>5</string>
	<key>TT:mode:north</key>
	<string>TTModeMac</string>
	<key>TT:mode:east</key>
	<string>TTModeMusic</string>
	<key>TT:mode:west</key>
	<string>TTModeHue</string>
	<key>TT:mode:south</key>
	<string>TTModeAlarmClock</string>
	<key>TT:selectedModeDirection</key>
	<string>2</string>
</dict>
</plist>
